.main-wrapper {
  width: 60%;
  margin: 20px auto;
}

h1 {
  text-align: center;
  font-size: 50px;
  color: lime;
}
h1 span.fizz {
  color: lime;
  margin: 0;
}
h1 span.buzz {
  color: gold;
  margin: 0;
}

.text {
  display: flex;
  justify-content: center;
  height: 100px;
  background-color: lightgray;
  text-align: center;
  border-radius: 5px;
}
.text p {
  padding: 10px 0;
}
.text span {
  font-style: italic;
  margin: 0;
}

ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 450px;
}

ul li {
  border-radius: 5px;
  border: 1px solid #717880;
  margin-left: 0;
  margin-bottom: 11px;
  text-align: center;
}
ul li.lime {
  color: lime;
  font-weight: bold;
}
ul li.gold {
  color: gold;
  font-weight: bold;
}



/* DEBUGG - start rules*/
/* debug {}
  .debug .container {
    background-color: #16D893;
    border: 1px solid blue;
  }
  .debug [class*="col-"] {
    background-color: yellow;
    border: 1px solid red;
    height: 100px;
  } */
/* DEBUGG - end rules */


/* GENERAL RULES (reset) - start */
general rules {}
  * {
    margin: 15px;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
  }
  body div, span, ul, a {
    font-family: 'Open Sans', sans-serif;
  }

  img {
    width: 100%;
  }
/* GENERAL RULES (reset) - end */



/* CLASS PROPERTIES - start rules */
class_properties {}
  .float {
    float: left;
  }
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
  .transform {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .text-bold {
    font-weight: 700;
  }
  ul.list-unstyled {
    padding-left: 0;
    }
    ul.list-unstyled li {
      /* display: inline-block; */
      list-style: none;
      margin-top: 10px;
    }
    ul.list-unstyled li a {
      text-decoration: none;
    }
/* CLASS PROPERTIES - end rules */



/* BASE LAYOUT - inizio */
regole layout {}
/* BASE LAYOUT - fine */



/* COMPONENTS (reusable) - start rules */
components {}
  components
/* COMPONENTS (reusable) - end rules */



/* NAVBAR - start rules */
nav {}
  nav {}
/* NAVBAR - end rules */


/* HEADER - start rules */
header {}
  header {}
/* HEADER - end rules */


/* MAIN - start rules */
main {}
  main {}
/* MAIN - end rules */


/* FOOTER - start rules */
footer {}
  footer {}
/* FOOTER - end rules */



/* MEDIA QUERY -start rules */
@media query {}
  /* Media Query - xs  */
  @media all and (max-width: 767px) {}

  /* Media Query - sm  */
  @media all and (min-width: 768px) and (max-width: 991px) {}

  /* Media Query - md  */
  @media all and (min-width: 992px) and (max-width: 1199px) {}

  /* Media Query - lg  */
  @media all and (min-width: 1200px) {}
/* MEDIA QUERY -end rules */
